


<%- include('header') -%>
    <header>
        <h1><b>Fræðslumyndbandaleigan</b></h1>
    </header>
    <main>
        <div class="container">
            <p><a href="/video">Skoða videovef</a></p>
        <div id="nyleg" >
            <h2  class="category">Nýleg Myndbönd</h2>
            
                <div class="row vidrow">
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                  
                </div>
                <div class="divider col-10"></div>
           
            
        </div>

        

        <div id="kennslu" >
            <h2 class="category">Kennslumyndbönd</h2>
           
                <div class="row">
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                </div>
                <div class="divider col-10"></div>
            
        </div>



        <div id="skemmti" >
            <h2 class="category">Skemmtimyndbönd</h2>
            
                <div class="row">
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                    <div class="placeholder col-sm-6 col-xl-4">
                        <div class="fakeimg"></div>
                        <p class="title">Sample title</p>
                        <p>Fyrir 22 klukkustundum síðan</p>
                    </div>
                </div>
                    
          
        </div>
        


    </div>
    </main>
<%- include('footer') -%>
