<%- include('header') -%>

  <header class="heading heading--main">
    
    <h1 class="heading__title"><b><%= title %></b></h1>
  </header>
  <main>
    <div class="container">
      <div class="column">
        <div id="gerfivid">
          
        </div>
        <p class="description">Hér er lýsing um myndbandið Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill</p>
      </div>
      <h2 class="category">Tengd Myndbönd</h2>
      
        <div class="row vidrow">
          <div class="placeholder col-sm-6 col-xl-4">
            <div class="fakeimg"></div>
            <p class="title">Sample title</p>
            <p>Fyrir 22 klukkustundum síðan</p>
        </div>
        <div class="placeholder col-sm-6 col-xl-4">
          <div class="fakeimg"></div>
          <p class="title">Sample title</p>
          <p>Fyrir 22 klukkustundum síðan</p>
      </div>
            
          
        </div>
        <div class="divider col-10"></div>
    
      <footer>
        <p><a href="/">Til baka</a></p>
      </footer>
    </div>
  </main>

<%- include('footer') -%>
